body {
    font-family: "League Spartan", sans-serif;
    margin: 4em;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.pâtes {
    border-radius: 30px;
    display: block;
    margin: auto;
    height: 20em;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
ul {
    margin: 0 auto;
    width: 20%;
    padding-left: 6rem;
}
.etapes {
    margin: 8em;
}
.icones {
    text-align: center;
}
