body {
    font-family: "League Spartan", sans-serif; 
}

h1 {
    text-align: center;
}

main {
    height: 65vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

footer {
    background-color: rgb(218, 220, 222);
    width: 100vw;
}

.map,
.coordonnées,
.horaires {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    height: 100%;
}
.map {
    text-align: center;
}
.coordonnées {
    text-align: center;
    font-size: small;
}
.horaires {
    font-size: 0.6rem;
}
.thoraires {
    text-align: center;
}
table {
    margin: 0 auto;
}

table tr th {
    padding-right: 1rem;
    text-align: left;
}
.mentions {
    text-align: center;
}   